@{
  Layout = "_Layout";
}

<h1>Dr. Sillystringz Factory Manager Portal</h1>
<p>@Html.ActionLink("View Machines", "Index", "Machines")</p> 
<p>@Html.ActionLink("View Engineers", "Index", "Engineers")</p> 